        body{
            background: gray;
        }
        .bord{
            border: 2px solid rgb(200, 209, 196);
            background: rgb(136, 139, 135);
            border-radius: 56px;
            width: 100px;
            padding: 2px;
            margin:auto;
            box-shadow: 2px 4px 10px 2px rgb(138, 203, 219);
        }
        .toop{
            border: 2px solid rgb(228, 158, 158);
            background: rgb(161, 114, 114);
            border-radius: 500px;
            margin: 0;
            padding: 10px;
            float: left;
            cursor: pointer;
            box-shadow: 5px 3px 5px 3px rgb(121, 89, 89);
        }
        .whrite{
            text-align: center;
            font-size: 6.5rem;
            width: 400px;
            height: 200px;
            margin: auto;
        }
        .code_check{
            border: 2px solid rgb(231, 223, 223);
            background: white;
            border-radius: 25px;
            padding: 12px;
            margin: 18px;
            width: 450px;
            margin: auto;
        }
        .code_check1{
            text-align: center;
        }
        .number{
            padding: 6px;
            width: 150px;
            border-radius: 45px;
            background: rgb(234, 241, 122);
            text-align: center;
            margin: 8px 0px 18px 0px;
            box-shadow: 2px 4px 8px 2px rgb(95, 100, 100);
        }
        .taeed{
            border-radius: 5px;
            background: rgb(245, 248, 65);
            color: rgb(6, 238, 161);
            box-shadow: 2px 4px 8px 2px rgb(95, 100, 100);
        }
        .matn_random{
            background: rgb(118, 225, 233);
            padding: 5px;
            border-radius: 12px;
            margin: 3px 12px 0px 0px;
        }
        .code_random{
            border-radius: 8px;
            background: rgb(66, 182, 128);
            color: bisque;
            box-shadow: 2px 4px 8px 2px rgb(95, 100, 100);
        }
        .ok{
            width: 200px;
            margin: auto;
            margin-top: 8px;
            border: 1px solid white;
            border-radius: 25px;
            background: rgb(220, 210, 210);
            text-align: center;
        }
        .zaman_baghi_mandeh{
            margin-top: 16px;
        }
        #timer{
            border-radius: 2px;
            background: rgb(0, 0, 0);
            color: aliceblue;
            padding: 5px;
            box-shadow: 2px 4px 8px 2px rgb(102, 99, 99);
        }
        @media(max-width:400px){
            .whrite{
                text-align: center;
                font-size: 3.5rem;
                padding-right: 22px;
                height: 200px;
            } 
        }
